config transmission
	option cache_size_mb '20'
	option alt_speed_enabled 'false'
	option speed_limit_down_enabled 'false'
	option speed_limit_up_enabled 'false'
	option blocklist_enabled 'false'
	option preallocation '1'
	option start_added_torrents 'true'
	option trash_original_torrent_files 'false'
	option umask '18'
	option watch_dir_enabled 'false'
	option encryption '1'
	option lazy_bitfield_enabled 'true'
	option lpd_enabled 'false'
	option message_level '1'
	option script_torrent_done_enabled 'false'
	option idle_seeding_limit_enabled 'false'
	option bind_address_ipv4 '0.0.0.0'
	option bind_address_ipv6 '::'
	option peer_limit_global '240'
	option peer_limit_per_torrent '60'
	option peer_socket_tos 'default'
	option peer_port '51415'
	option peer_port_random_on_start 'false'
	option port_forwarding_enabled 'true'
	option rpc_enabled 'true'
	option rpc_port '9091'
	option rpc_bind_address '0.0.0.0'
	option rpc_url '/transmission/'
	option rpc_authentication_required 'false'
	option ratio_limit_enabled 'false'
	option seed_queue_enabled 'false'
	option dht_enabled 'false'
	option pex_enabled 'false'
	option utp_enabled 'false'
	option config_dir '/etc/transmission'
	option user 'root'
	option incomplete_dir_enabled 'false'
	option rename_partial_files '1'
	option rpc_whitelist_enabled 'false'
	option download_queue_enabled 'false'
	option queue_stalled_enabled 'false'
	option scrape_paused_torrents_enabled 'false'
	option download_dir '/mnt/sda1/download/'
	option enabled '0'