<%#
 Copyright 2008-2020 sirpdboy Wich <sirpdboy@qq.com>
 https://github.com/sirpdboy/luci-app-netdata
 Licensed to the public under the Apache License 2.0.
-%>

<%+header%>
<div class="cbi-map">

<script type="text/javascript">//<![CDATA[
		function upnetdata(button) {

		(new XHR()).post('<%=controller%>/admin/status/netdata/call', { token: '<%=token%>' }, check);
	}
//]]></script>

<iframe id="netdata" style="width: 100%; min-height: 780px; border: none; border-radius: .375rem;box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 15px -5px;"></iframe>
</div>
<script type="text/javascript">
        document.getElementById("netdata").src = window.location.protocol + "//" + window.location.hostname + ":19999";
</script>
<%+footer%>
