Package: udp2raw-tunnel
Version: 20190716.test.0-1
Depends: libc, libstdcpp, libpthread, librt
Source: package/my/openwrt-udp2raw-speeder/udp2raw
License: MIT
LicenseFiles: LICENSE
Section: net
Maintainer: wangyu-
Architecture: x86_64
Installed-Size: 175515
Description:  udp2raw-tunnel is a tunnel which turns UDP Traffic into Encrypted FakeTCP/UDP/ICMP Traffic by using Raw Socket.
