
<%+header%>

<h2 name="content"><%:Sandbox%></h2>
<div class="cbi-map-descr"><%:Simple sandbox for OpenWRT%></div>

<%

local sys  = require "luci.sys"

local insandbox = sys.call("grep '^overlayfs:/overlay / ' /proc/mounts | grep -Fq 'upperdir=/ext_overlay/upper'") == 0

if insandbox then
%>

<div class="cbi-map-descr">
<% luci.template.render(translate("cpufreq/sb_info")) %>
</div>

<hr />

<script type="text/javascript">//<![CDATA[
	var tries = 0;

	function ok() {
		window.location = '<%=controller%>';
	}

	function check() {
		if (tries++ < 12)
			window.setTimeout(ping, 5000);
		else
			alert('<%:Device unreachable%>');
	}

	function ping() {
		var img = document.createElement('img');

		img.onload = ok;
		img.onerror = check;
		img.src = '<%=resource%>/icons/loading.gif?' + Math.random();

		document.getElementById('reboot-message').innerHTML = '<%:Waiting for device...%>';
	}

	function reboot(button, action) {
		if (confirm('<%:This action will reboot device%>')) {
			button.parentNode.style.display = 'none';
			document.getElementById('reboot-message').parentNode.style.display = '';

			(new XHR()).post('<%=prefix%>/'+action, { token: '<%=token%>' }, function(){window.setTimeout(check, 20000);});
		}
	}
//]]></script>

<fieldset class="cbi-section">
	<input class="cbi-button cbi-button-save" type="button" value="<%:Commit%>" onclick="reboot(this, 'commit')" />
	<input class="cbi-button cbi-button-reset" type="button" value="<%:Reset%>" onclick="reboot(this, 'reset')" />
</fieldset>

<p class="alert-message" style="display:none">
	<img src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" style="vertical-align:middle" />
	<span id="reboot-message"><%:Device is rebooting...%></span>
</p>

<% else %>

<div class="cbi-map-descr">
<% luci.template.render(translate("cpufreq/sb_guide")) %>
</div>

<% end %>

<%+footer%>
