<script type="text/javascript">//<![CDATA[
    XHR.poll(5, '<%=url("admin/services/homeassistant/status")%>', null,
        function (x, st) {
            var tb = document.getElementById('linkease_status');
            if (st && tb) {
                if (st.docker_install){
                    if (st.docker_start){
                        if (st.container_install) {
                            if (st.container_running) {
                                const htmlString = '<br/><em><%:The homeassistant service is running.%></em>'
                                + "<br/><br/><input class=\"btn cbi-button cbi-button-apply\" type=\"button\" value=\" <%:open homeassistant%> \" onclick=\"open_container('" + st.container_port + "')\" />"
                                + "<input class=\"btn cbi-button cbi-button-apply\" type=\"button\" value=\" <%:stop homeassistant%> \" onclick=\"stop_container('" + st.container_id + "')\" /><br/><br/>";
                                tb.innerHTML = htmlString;
                            }
                            else {
                                tb.innerHTML = '<br/><em><%:The homeassistant service is not running.%></em>'
                                + "<br/><br/><input class=\"btn cbi-button cbi-button-apply\" type=\"button\" value=\" <%:run homeassistant%> \" onclick=\"start_container('" + st.container_id + "')\" />"
                                + "<input class=\"btn cbi-button cbi-button-apply\" type=\"button\" value=\" <%:uninstall homeassistant%> \" onclick=\"uninstall_container('" + st.container_id + "')\" /><br/><br/>";
                            }
                        }
                        else {
                            tb.innerHTML = '<br/><em><%:The homeassistant service is not installed.%></em>'
                                + "<br/><br/><br/><input class=\"btn cbi-button cbi-button-apply\" type=\"button\" value=\" <%:install homeassistant%> \" onclick=\"install_container()\" /><br/><br/>";
                        }
                    }
                    else{
                        tb.innerHTML = '<em><%:Docker service is not start.%></em>'
                    }
                }
                else{
                        tb.innerHTML = '<em><%:Docker is not installed.%></em>'
                }
            }
        }
    );

    function open_container(x) {
        Url = "http://" + window.location.hostname + ":" + x
        // alert(Url)
        window.open(Url)
        return false
    }

    const STOP_URL = '<%=luci.dispatcher.build_url("admin", "services", "homeassistant","stop")%>';

    function stop_container(x) {

        XHR.get(STOP_URL, { container_id: x }, (x, d) => {
            // alert(" 关闭容器'" + d.container_id + "' ");
        });
        return false
    }

    const START_URL = '<%=luci.dispatcher.build_url("admin", "services", "homeassistant","start")%>';

    function start_container(x) {

        XHR.get(START_URL, { container_id: x }, (x, d) => {
            // alert(" 打开容器'" + d.container_id + "' ");
        });
        return false
    }

    const UNINSTALL_URL = '<%=luci.dispatcher.build_url("admin", "services", "homeassistant","uninstall")%>';

    function uninstall_container(x) {

        XHR.get(UNINSTALL_URL, { container_id: x }, (x, d) => {
            // alert(" 删除容器'" + d.container_id + "' ");
        });
        return false
    }

    const INSTALL_URL = '<%=luci.dispatcher.build_url("admin", "services", "homeassistant","install")%>';

    function install_container(x) {
        // alert("安装home assistant会花较长时间请耐心等待，ssh输入docker logs hassio_supervisor可以查看安装进度，直到容器homeassistant出现才代表安装结束");

        XHR.get(INSTALL_URL, { container_id: x }, (x, d) => {
            // alert(" 安装容器'" + d.container_id + "' ");
        });
        return false
    }
//]]></script>

<fieldset class="cbi-section">
    <!-- <legend>
        <%:homeassistant Status%>
    </legend> -->
    <p id="linkease_status">
        <em>
            <%:Collecting data...%>
        </em>
    </p>
</fieldset>